/* Fixes Sidebar Positioning */
.menu-home #rt-main #rt-sidebar-a {
	margin: 32px 0 0 0 !important;
}

/* Fixes Mainbody Positioning */
.menu-home #rt-main #rt-mainbody {
	margin: 7px -25px 0 -26px !important;
}

/* Hide Home Button and show PS.org Icon */
.rt-logo{
	background-image: url("/templates/rt_corvus/images/icons/ps-org-logo.png"); 
	background-repeat: no repeat;
	position: absolute;
	margin: 34px 0px 0px 42px;
	width: 500px;
	height: 33px;
}

#rt-header ul.gf-menu li:nth-child(1) .item { 
	background-image: url("/templates/rt_corvus/images/icons/ps-org-home.png"); 
	background-repeat: no-repeat; 
	background-position: center;
	width: 66px;
	height: 51px;
	margin: 0 -1px 5px 0px;
	color:rgba(255, 255, 255, 0);
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0);
	border-color:transparent;

}

.menu-block .gf-menu.l1 > li:nth-child(1){
	background-image: none !important;
}

.menu-block .gf-menu.l1 > li:nth-child(1).active{
	background: none !important;
}

.menu-block .gf-menu.l1 > li:hover:nth-child(1){
	background: none !important;
}

/* Navigation Theme Items Modifications */
.menu-block{
	float: none;
	margin: -1px 0px 0px -1px;
}

.menu-block .gf-menu .item, .menu-block .gf-menu.l1 > li.parent > .item:after{
	color: #fff;
	text-shadow:0 0 0;
}

.menu-block .gf-menu.l1 > li{
	border-color:transparent transparent transparent rgba(0,0,0,0.2);
	background-image:linear-gradient(to bottom,#48A7DF 0,#2e80cc 100%);
	-webkit-linear-gradient(top,#48A7DF 0,#2E80CC 100%);background-image:linear-gradient(to bottom,#48A7DF 0,#2E80CC 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#48a7df',endColorstr='#2e80cc',GradientType=0);
}

.menu-block .gf-menu.l1 > li.active{
	background: #005A99;
}

.gf-menu.l1 > li > .item{
	font-size:14px;
	line-height:24px;
	padding:8px 11.1px;
	position:relative;
	border-radius:0;
}

#rt-header .rt-container{
	border-top:4px solid #005A99;
	-webkit-box-shadow:0 -2px 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow:0 -2px 2px rgba(0,0,0,0.1) inset;
	box-shadow:0 -2px 2px rgba(0,0,0,0.1) inset;
}

/* Navigation EasySocial Items Modifications */
body div#fd.es .es-toolbar .navbar-inner{
	position:relative;
	min-height:45px !important;
	height:45px !important;
	padding-left:0;
	padding-right:0;
	margin-top:-1px !important;
	border:1px solid #2E80CC !important;
	border-radius:0px !important;
	background-image:linear-gradient(to bottom,#48A7DF 0,#2E80CC 100%) !important;
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6baee2',endColorstr='#ff699ed4',GradientType=0);
	box-shadow:none;
	margin-left:-83px;
}

body div#fd.es .es-toolbar .fd-navbar-search .search-query{
	color:white;
	position:relative;
	margin-bottom:0;
	border:0;
	padding:0 14px 0 36px;
	margin-top:11px !important;
	width:100%;
	height:16px;
	line-height:16px;
	background:#005A99 !important;
	vertical-align:middle;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;border-radius:0 4px 4px 0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0);
	display:inline-block
}

body div#fd.es .es-toolbar .fd-navbar-search{
	position:relative;
	float:right;
	margin:-1px -2px 0 0 !important;
	background:#005A99 !important;
	display:block;
	width:240px;
	height:44px !important;
}

body div#fd.es .es-toolbar .fd-navbar-search .ies-search{
	top: 13px !important;
}

body div#fd.es .es-toolbar .fd-nav>li>a [class^="ies-"], body div#fd.es .es-toolbar .fd-nav>li>a [class*=" ies-"]{
	color: #fff !important;
	line-height: 20px !important;
}

body div#fd.es .btn-es-primary, body div#fd.es .btn-es-primary:focus{
	background-color: 2E80CC !important;
	border-color: 2E80CC !important;
}

body div#fd.es .btn-es-primary:focus.active{
	background-color:#2E80CC !important;
	border-color:#2E80CC !important;
}

/* Kunema Form Restyling */
#Kunena #ktab ul.menu li.active a, #Kunena #ktab li#current.selected a{
	background-color: #2E80CC !important;
}

#Kunena a:link, #Kunena a:visited, #Kunena a:active{
	color: #2E80CC !important;
}

#Kunena a:link, #Kunena a:visited, #Kunena a:active, #Kunena a:focus{
	color: #2E80CC !important
}

#Kunena div.kblock > div.kheader, #Kunena .kblock div.kheader{
	background: #2E80CC !important;
}

#Kunena div.kwhoisonline div.kheader{
	background: #2E80CC !important;
}

#Kunena div.kfrontstats div.kheader{
	background: #2E80CC !important;
}

#Kunena #ktop span.ktoggler{
	background-color: #2E80CC !important;
}

#Kunena #ktop{
	border-color: #2E80CC !important;
}

 /* Live Chat Modifications */
 .cometchat_embed_chatrooms {
 	border: 1px solid #CCC;
 }


/* Kodeshare Forum BBCode Icon */
.kodeshare a {
  background-image: url('/images/project-spark-org/images/ks.png');
}

/* KodeShare iFrame Settings*/
.kodeshare { background: #F1F1F1; border: 1px solid #DDD;margin-bottom: 10px; }
.kodeshare-dark { background: #222; border: 1px solid #000;margin-bottom: 10px; }

/* Under Construction Image */
.under-construction {
	background-image:url('images/Under-Contruction.png');
}

/* Hide Blog Header on Featured Home Page */
.frontpage #ezblog-head {
	display:none;
}
.frontpage #ezblog-section {
	display: none;
}

/* Changed the Padding for Main Container from 15px to 0px */
/* Due to having a Gap from our new Icon */
#rt-body-surround > div:first-child .rt-container {
	padding-top:0px;
}

/* Removed the red Featured Tag on the front page */
.frontpage .tag-featured {
	display: none;
}

/* Live Chat Button */
.rt-expanded-1, .rt-expanded-2 {
	padding-left:10px;
}
.rt-expanded-1:before {
	width:162px;
	margin:0px 0px;
	height:22px;
}
@-moz-document url-prefix() {
    .rt-expanded-1:before  { 
    	margin-top: -43px; 
    }
}

.rt-expanded-1:after {
	margin-left:20px;
	border-width:42px 71px 0 0;
	top: 0px;
	height:22px;
}

/* Live Chat Hide/Show Settings 
.livechathide #livechat {
	display: block;
	padding-left:85px;
	position:relative;
	float:left;
	z-index:1;
	margin-bottom:-7px:
	border:0px;
}
.livechathide .cometchat_embed_chatrooms {
	width:965px;
	height:40px;
	border:0px;
}
.livechathide .topbar {
	display:none;
}
.livechathide #lobby {
	display:none;
}
*/

/* Remove Shadows in rt-container */
.main-template-with-shadow #rt-showcase .rt-container, .main-template-with-shadow #rt-feature .rt-container, .main-template-with-shadow #rt-utility .rt-container, .main-template-with-shadow #rt-maintop .rt-container, .main-template-with-shadow #rt-mainbody-surround .rt-container, .main-template-with-shadow #rt-mainbottom .rt-container, .main-template-with-shadow #rt-extension .rt-container {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Top left Tri on Featured Section */
.menu-home #rt-feature:before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 80px 80px 0 0;
	border-color: rgba(0,0,0,0.1) transparent transparent transparent;
	z-index: 1;
}

/* Remove Tri from Main Body */
.menu-home #rt-main #rt-mainbody:before {
 	border-width: 0 0 0 0 !important;
}

/* Background Color of Main Body */
.main-template-with-shadow #rt-showcase .rt-container, .main-template-with-shadow #rt-feature .rt-container, .main-template-with-shadow #rt-utility .rt-container, .main-template-with-shadow #rt-maintop .rt-container, .main-template-with-shadow #rt-mainbody-surround .rt-container, .main-template-with-shadow #rt-mainbottom .rt-container, .main-template-with-shadow #rt-extension .rt-container {
	background-color: #f2f2f2;
}

/** EB Front Page **/
#ezblog-body .blog-header
{
	margin: -15px 0 3px !important;
}
#ezblog-body .blog-post .blog-title, #ezblog-body .blog-post .blog-title a
{
	margin-bottom: 0px !important;
}
#ezblog-posts .eb-photos
{
	margin:0 -10px 3px -40px;
}
#eblog-dialog .mtl, #eblog-wrapper .mtl
{
	margin-top: 18px;
	position: relative;
	float: right;
}
#eblog-wrapper.eblog-origami #ezblog-body .blog-post
{
	padding: 0px 10px 0px 40px !important;
}
#eblog-wrapper.eblog-origami .blog-meta {
	width:46px !important;
}

/* Remove View All Members on Front page */

body div#fd.es.mod-es-users .widget-list-grid {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 80px !important;
}
/* Social Buttons Background */
div.hide-all-users-link {
	display:none;
}
div#discuss-wrapper #dc_share .social-button 
{
	background: none;
	padding: 0;
}